{% include 'header.html' %}
<div class="container">
    <div class="row">
        <div class="col col-md-6 mx-auto mt-4 shadow-sm">
            <div class="user">
                <div class="user_image d-flex justify-content-center">
                    <img style="height: 50vh; width: auto;" class="img-fluid rounded" src="{{url_for('static', filename='images/mimo-V.jpeg')}}" alt="" title="" media-simple="true">
                </div>
                <div class="user_text pb-3">
                    <p class="mbr-fonts-style display-7">
                        Lola es una perrita que le gusta mucho las salidas al parque y comer toda la comida que ella es fisicamente capaz de hacerlo. Si bien es muy inquieta es una perrita muy dulce que se lleva muy bien con otras personas y con perritos también
                    </p>
                </div>
            </div>
        </div>
    </div>


</div>
{% include 'footer.html' %}